---
import Layout from "@layouts/Layout.astro";
import Timeline from "@components/Timeline.astro";
import SectionContainer from "@components/SectionContainer.astro";
import AssemblyIcon from "@components/icons/AssemblyIcon.astro";
import InfoIcon from "@components/icons/InfoIcon.astro";
import InfoImages from "@components/InfoImages.astro";
const buttonsToShow = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/services",
    text: "Services",
  },
  {
    href: "/contact",
    text: "Contact",
  },
];
const mainText = 'Welcome to 612Soft, your premier destination for cutting-edge web development solutions. Our team of experienced developers and designers is dedicated to transforming your vision into a stunning, functional, and user-friendly website. Whether you need a simple landing page or a complex e-commerce platform, we combine creativity, technical expertise, and the latest industry trends to deliver a product that exceeds your expectations. Our goal is to help your business thrive in the digital landscape by providing a seamless online experience for your customers.'
---

<Layout
  title="612 Soft - Web development"
  description="Choose us to develop a professional custom page for you."
  language="en"
  buttons={buttonsToShow}
  titleText="Welcome to 612Soft"
  langButtonText="Language"
  mainText={mainText}
>
  <!-- <TypingText titleText="Welcome to 612Soft"/> -->
  <main class="px-4">
    <SectionContainer
      id="invisibleSection"
      class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out"
    >
      <h2
        class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"
      >
        <AssemblyIcon class="size-6" />Our Services
      </h2>
      <Timeline />
    </SectionContainer>
    <SectionContainer
      id="invisibleSection"
      class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out"
    >
      <h2
        class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"
      >
        <InfoIcon class="size-6" />About Us
      </h2>
      <InfoImages />
    </SectionContainer>
  </main>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer: IntersectionObserver = new IntersectionObserver(
      (entries: IntersectionObserverEntry[]) => {
        entries.forEach((entry: IntersectionObserverEntry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("opacity-0", "translate-y-4");
          }
        });
      },
      {
        rootMargin: "0px",
        threshold: 0.1,
      }
    );

    const sections: NodeListOf<Element> =
      document.querySelectorAll(".observeMe");
    sections.forEach((section: Element) => {
      observer.observe(section);
    });
  });
</script>
