---
import Layout from "../layouts/Layout.astro";
import Badge from "@components/Badge.astro";
import GitHub from "@components/icons/GitHub.astro";
import Csharp from "@components/icons/Csharp.astro";
import ReactIcon from "@components/icons/React.astro";
import SocialPill from "@components/SocialPill.astro";
import Timeline from "@components/Timeline.astro";
import SectionContainer from "@components/SectionContainer.astro";
import AssemblyIcon from "@components/icons/AssemblyIcon.astro";
import InfoIcon from "@components/icons/InfoIcon.astro";
import InfoImages from "@components/InfoImages.astro";
---

<Layout
  title="612 Soft - Web development"
  description="Choose us to develop a professional custom page for you."
>
  <main class="px-4">
    <SectionContainer id="invisibleSection" class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out">
		<h2 class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"><AssemblyIcon class="size-6"/>Our Services</h2>
      <Timeline />
    </SectionContainer>
    <SectionContainer id="invisibleSection" class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out">
      <h2 class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"><InfoIcon class="size-6"/>About Us</h2>
        <InfoImages/>
      </SectionContainer>
  </main>
</Layout>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const observer: IntersectionObserver = new IntersectionObserver((entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry: IntersectionObserverEntry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove('opacity-0', 'translate-y-4');
      }
    });
  }, {
    rootMargin: "0px",
    threshold: 0.1
  });

  const sections: NodeListOf<Element> = document.querySelectorAll(".observeMe");
  sections.forEach((section: Element) => {
    observer.observe(section);
  });
});
</script>