---
import ServiceList from 'src/components/ServiceList.astro';
import Layout from '../layouts/Layout.astro';
import AssemblyIcon from 'src/components/icons/AssemblyIcon.astro';
import SectionContainer from 'src/components/SectionContainer.astro';
import InfoIcon from 'src/components/icons/InfoIcon.astro';
import PublicationList from 'src/components/PublicationList.astro';
---

<Layout>
	<SectionContainer id="welcome">
		
	<h2
        class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex py-8"
		id="servicesTitle"
      >
        <AssemblyIcon class="size-6" />Nuestro Servicios
      </h2>
	  <ServiceList />
	</SectionContainer>
	<SectionContainer>
		<h2
        class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"
        id="aboutTitle"
      >
        <InfoIcon class="size-6" />Sobre Nosotros
      </h2>
      <PublicationList />
	</SectionContainer>
</Layout>
