---
import ServiceList from "src/components/ServiceList.astro";
import Layout from "../layouts/Layout.astro";
import AssemblyIcon from "src/components/icons/AssemblyIcon.astro";
import SectionContainer from "src/components/SectionContainer.astro";
import InfoIcon from "src/components/icons/InfoIcon.astro";
import PublicationList from "src/components/PublicationList.astro";
import Badge from "src/components/Badge.astro";
import SocialPill from "src/components/SocialPill.astro";
import Facebook from "src/components/icons/Facebook.astro";
import Twitter from "src/components/icons/Twitter.astro";
import Instagram from "src/components/icons/Instagram.astro";
---

<Layout>
   <SectionContainer class="py-24 pb-30">
      
      <h1
         class="flex text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold gap-x-4 pb-6 lg:pb-10 justify-center lg:justify-normal text-gray-700 dark:text-gray-200"
      >
      <img src="/logo.png" alt="612Soft Logo" class="h-12 w-12" />
         Bienvenido a 612Soft
         <a
          href="https://x.com/@612Soft"
          class="flex justify-center items-center"
          ><Badge>Disponible!</Badge></a>
         <!-- <TypingText titleText={titleText} /><a
          href="https://x.com/@612Soft"
          class="flex justify-center items-center"
          ><Badge>Working on it!</Badge></a
       > -->
      </h1>
      <h2
         class="text-sm md:text-lg lg:text-xl opacity-80 max-w-[800px] justify-center lg:justify-normal text-balance text-gray-700 dark:text-gray-200 ml-2 md:ml-0 lg:ml-0 mr-2 md:mr-0 lg:mr-0"
      >
         Bienvenido a 612Soft, su principal destino para soluciones de
         desarrollo web de vanguardia. Nuestro equipo de desarrolladores y
         diseñadores experimentados se dedica a transformar su visión en un
         sitio web sorprendente, funcional y fácil de usar. Ya sea que necesite
         una página de destino simple o una plataforma de comercio electrónico
         compleja, combinamos creatividad, experiencia técnica y las últimas
         tendencias de la industria para ofrecer un producto que supere sus
         expectativas. Nuestro objetivo es ayudar a que su negocio prospere en
         el panorama digital al brindar una experiencia en línea perfecta para
         sus clientes.
      </h2>
      <ul class="flex gap-x-2 mt-4 flex-wrap justify-center lg:justify-normal">
       <SocialPill href="https://www.facebook.com/people/612soft/61561116395368/">
          <Facebook class="size-4 md:size-6 fill-black dark:fill-white" />
          Facebook
       </SocialPill>
       <SocialPill href="https://x.com/612Soft">
          <Twitter class="size-4 md:size-6 fill-black dark:fill-white" />
          X/Twitter
       </SocialPill>
       <SocialPill href="https://instagram.com/612Soft">
          <Instagram class="size-4 md:size-6 fill-black dark:fill-white" />
          Instagram
       </SocialPill>
    </ul>
   </SectionContainer>
   <SectionContainer id="welcome">
      <h2
         class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-gray-700 dark:text-gray-200 flex py-8"
         id="servicesTitle"
      >
         <AssemblyIcon class="size-6" />Nuestro Servicios
      </h2>
      <ServiceList />
   </SectionContainer>
   <SectionContainer>
      <h2
         class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-gray-700 dark:text-gray-200 flex"
         id="aboutTitle"
      >
         <InfoIcon class="size-6" />Sobre Nosotros
      </h2>
      <PublicationList />
   </SectionContainer>
</Layout>
