---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="612 Soft">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">Welcome to 612 Soft<div class="flex justify-center items-center"><Badge>Working on it!</Badge></div></h1>
		<h2 class="text-xl">Custom Web and Software Solutions. Astro looks for .astro or .md files in the src/pages/ directory. Each page is exposed as a route based on its file name.
			There's nothing special about src/components/, but that's where we like to put any Astro/React/Vue/Svelte/Preact components.
			Any static assets, like images, can be placed in the public/ directory.</h2>
	</section>
	</main>
</Layout>
