<!-- <header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img src="/logo.png" alt="612Soft Logo" class="h-12 w-18" />
  <div class="flex justify-start"><h2>Test</h2></div>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/Services">Services</a>
    <a href="/Contact">Contact</a>
  </nav>
</header> -->
<header>
    <div class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
        <div class="flex items-center">
            <img src="/logo.png" alt="612Soft Logo" class="h-12 w-12" />
            <div class="ml-2"><h1 class="font-bold opacity-80 text-2xl">612Soft</h1></div>
        </div>
        <nav class="flex flex-row gap-x-10 opacity-80 px-2">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/Services">Services</a>
            <a href="/Contact">Contact</a>
        </nav>
    </div>
</header>