---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import SectionContainer from "./SectionContainer.astro";
import TypingText from "../components/TypingText.astro";
import Facebook from "./icons/Facebook.astro";
import X from "./icons/X.astro";
import Instagram from "./icons/Instagram.astro";
interface Props {
   titleText: string;
   mainText: string;
}
const { titleText, mainText } = Astro.props;
---

<SectionContainer class="py-24 pb-30">
   <h1
      class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 justify-center lg:justify-normal"
   >
      <TypingText titleText={titleText} /><a
         href="https://x.com/@612Soft"
         class="flex justify-center items-center"
         ><Badge>Working on it!</Badge></a
      >
   </h1>
   <h2
      class="text-sm md:text-lg lg:text-xl opacity-80 max-w-[800px] justify-center lg:justify-normal text-balance text-black dark:text-white ml-2 md:ml-0 lg:ml-0 mr-2 md:mr-0 lg:mr-0"
   >
      {mainText}
   </h2>
   <ul class="flex gap-x-2 mt-4 flex-wrap justify-center lg:justify-normal">
      <SocialPill href="https://www.facebook.com/people/612soft/61561116395368/">
         <Facebook class="size-4 md:size-6" />
         Facebook
      </SocialPill>
      <SocialPill href="https://x.com/612Soft">
         <X class="size-4 md:size-6 fill-black dark:fill-white" />
         X/Twitter
      </SocialPill>
      <SocialPill href="https://instagram.com/612Soft">
         <Instagram class="size-4 md:size-6 fill-black dark:fill-white" />
         Instagram
      </SocialPill>
   </ul>
</SectionContainer>
