---
var date = new Date()    
import TimelineItem from './TimelineItem.astro'
interface Props{
    items:{
        title:string,
        description:string
    }[]
}
const {items} = Astro.props
---
<ol class="relative border-s border-gray-200 dark:border-gray-300 ml-3">
    {
     items.map((item, index) => (
     <li class="mb-10 ms-4">
        <TimelineItem {...item} />
    </li>))
    }
    <li class="mb-10 ms-4">        
    </li>
</ol>

