---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="background" class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24"></div>
		<!-- <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div> -->
		<!-- <div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"></div> -->
		<!-- <div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div> -->
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		background: #323232;
		font-family: 'Onest Variable', system-ui, sans-serif;
	}
	body{
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	#background {
        background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    }
    @media (prefers-color-scheme: light) {
        #background {
            background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);
        }
    }
</style>
